.site-wrapper {
  position: absolute;
  z-index: 999;

  padding: 2rem;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.site-border {
  height: 100%;
  position: relative;
  padding: 2rem;
  border: 1px solid #808080;
}

.site-content {
  position: absolute;
  padding: 2rem;
  max-width: 190px;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .site-wrapper {
    padding: 1rem;
  }
  .site-border {
    padding: 1rem;
  }
}
