.site-wrapper {
  position: fixed;
  z-index: 999;

  padding: 2rem;

  top: 0;
  left: 0;
  width: 100vw;
}

.site-border {
  position: relative;
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  padding: 2rem;
  border: 1px solid #808080;
}

.site-content {
  position: absolute;
  padding: 2rem;
  max-width: 190px;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .site-wrapper {
    padding: 1rem;
  }
  .site-border {
    height: calc(100vh - 2rem);
    width: calc(100vw - 2rem);
    padding: 1rem;
  }
}
