.site-wrapper {
  position: absolute;
  z-index: 999;
  overflow: hidden;

  padding: 2rem;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.site-border {
  height: 100%;
  position: relative;
  padding: 3rem;
  border: 1px solid #808080;
}

.site-content {
  position: absolute;
  z-index: 0;
  padding: 0 4rem 5rem 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .site-wrapper {
    padding: 1.35rem;
  }
  .site-border {
    padding: 1.35rem;
    position: static;
  }
  .site-content {
    padding: 0 2rem 0 0;
  }
}
