/*Container for every project*/
.list-projects {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}
.list-projects::-webkit-scrollbar {
  display: none;
}
.list-projects {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.list-projects-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.list-projects a {
  line-height: 1.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

/*Individual Projects*/
.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 1rem;
}

.project-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.project-container .project-title,
.project-container .project-description > span {
  -webkit-transition: 150ms ease-in-out;
  -o-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.project-content:hover .project-title,
.project-content:hover .project-description > span {
  opacity: 0.5;
}

.project-title {
  line-height: 100%;
  font-size: 3.75rem;
  font-weight: 100;
  letter-spacing: -0.01em;
}

.project-description > span {
  font-weight: 700;
  opacity: 0.7;
}
.project-description > span:not(:last-child)::after {
  content: " / ";
}

/*Make it responsive*/
@media (max-width: 1260px) {
  .list-projects {
    padding-right: 1rem;
    height: 50vh;
  }
  .blur-last-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;

    -webkit-backdrop-filter: blur(1px);

    backdrop-filter: blur(1px);
    --webkit-backdrop-filter: blur(1px);
  }
  .project-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.125rem;
  }
  .project-title {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    white-space: nowrap;
    font-size: 1.65rem;
    font-weight: 300;
  }
  .project-description {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .project-description > span {
    font-size: 0.925rem;
    font-weight: 500;
  }
}
@media (min-height: 868px) {
  .list-projects {
    height: 100%;
  }
}
