:root {
  --header-width: 1280px;
}

.header-gap {
  height: 80px;
}

/* header {
  position: fixed;
  top: 0;
  z-index: 5;
  left: 0;
  right: 0;
} */

.header-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 0 1rem 0;
}

.jk-inner-container {
  width: var(--header-width);
  display: flex;
  align-items: center;
}

header .right-section ul {
  list-style: none;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

header .right-section li {
  margin-left: 1rem;
  line-height: 0;
}
