.logo a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.logo ion-icon {
  font-size: 1.5rem;
}

.light .logo a:hover {
  color: #000;
}
.dark .logo a:hover {
  color: #fff;
}

.logo {
  position: relative;
  font-size: 3.25rem;
  letter-spacing: -0.0475em;
  font-weight: 200;
}
.logo-work-title {
  margin-left: 4px;
  font-size: 1rem;
  letter-spacing: -0.0175em;
  font-weight: 300;
}
@media (max-width: 768px) {
  .logo {
    font-size: 1.8rem;
  }
}

.logo-fullname {
  color: inherit;
}
.logo-alias {
  display: none;
}
.logo:hover .logo-fullname {
  display: none;
}
.logo:hover .logo-alias {
  display: inline-block;
  width: 330px;
}
@media (max-width: 768px) {
  .logo:hover .logo-alias {
    width: 200px;
  }
}
