.logo a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.logo ion-icon {
  font-size: 1.5rem;
}

.light .logo a:hover {
  color: #000;
}
.dark .logo a:hover {
  color: #fff;
}

.logo-fullname {
  position: absolute;

  padding: 0.25rem 1rem;
  border-radius: 99px;
  background-color: var(--primary-color-dark);
  color: var(--primary-color-light);

  scale: 0;
  opacity: 0;
}
.logo:hover ~ .logo-fullname {
  opacity: 1;
  scale: 1;
}
