.main-menu {
  position: absolute;
  z-index: 15;
  margin-top: 2rem;
  margin-left: 6px;
}
.main-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu li {
  display: flex;
  align-items: center;
  min-height: 30px;
}
.main-menu a {
  transition: 150ms ease-in-out;
  font-size: 0.875rem;
  font-weight: 600;
}
.main-menu a:hover {
  opacity: 0.4;
}

.menu-circle {
  height: 7px;
  width: 7px;
  border-radius: 7px;
}
