/*Dark theme*/
body.dark {
  background-color: #313338;
}
body.dark svg {
  color: #fff;
}
body.dark a {
  color: var(--primary-color-light);
}
/*Light theme*/
body.light {
  background-color: #e3e3e3;
}
body.light a {
  color: var(--primary-color-dark);
}

/*Sitewide SVG effects*/
.theme-selector svg {
  opacity: 0.6;
  transition: 100ms ease-in-out;
}
.theme-selector svg:hover {
  opacity: 0.8;
}
.theme-selector svg:active {
  opacity: 1;
}

/*Specific to Theme Selector*/
.theme-selector svg.active {
  display: inline-block !important;
}
